.DS_Store
node_modules
/dist
/app
/test-user-creds.json
/test-runner
/test-data
/temp
/test-setup.*
/test-user*.json
/setup-w3n.bundle.js

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
.history
.zed
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Tmp files
.~*
/components.d.ts
/pnpm-workspace.yaml
